*{
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}
/* .main{
  display: grid;
  grid-template-columns: 10% 90%;
  background-color: #181818;
} */
.navbar{
  display:flex;
  width:10%;
  margin-left: 0px;
  position: fixed;
  height:100vh;
  width:auto;
  background-color: #181818;
}
.page{
  display:flex;
  flex-direction: column;
  width: 100%;
  margin-right: None;
  background-color: black;

}
.contact{
  width: auto;
  background-color: black;
  margin-left: 10%;
  height: 100vh;
}
.skills{
  width: auto;
  background-color: black;
  margin-left: 10%;
  height: 100vh;
}
.about{
  width:auto;
  margin-left: 10%;
  height: 100vh;
}